.logo{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    background: $blueblack;
}

.menu{
    z-index: 1;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $blueblack;
}

.menu-phone{
    display: none;
}

.container-navbar{
    display: flex;
}

.navbar-item{
    width: 100%;
}

.navbar-list{
    padding: 0;
}

.navbar-link{
    width: 100%;
    padding: 20px 20px;
    font-family: $fuente_principal;
    font-weight: $delgada;
    color: $font-text;
}

.active{
    display: block;
    background: $fondo;
}

.navbar-link.active{
    color: $greenery;
}

.social-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
    justify-content: center;
}

.social-link{
    color: $greenery;
}

.social-link:hover{
    color: $font-text;
}

@media (max-width: 1280px) { 
    img{
        width: 50%;
    }

    .imagen-nombre{
        display: none;
    }

    .social-list{
        display: none;
    }
    
    .logo{
        display: none;   
    }

    /* .menu{
        display: none;
    } */
    
    .menu{
        display: block;
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: $blueblack;
    }

    .navbar-item{
        height: 100%;
        width: 100px;
    }

    .navbar-list{
        display: flex;
    }

    .navbar-link{
        width: 100%;
        padding: 26px 7px;
        font-family: $fuente_principal;
        font-weight: $delgada;
        color: $font-text;
    }
    
    .navbar-link.active{
        color: $greenery;
    }

    .container-navbar{
        align-items: center;
    }
}

@media (max-width: 481px) { 
    .menu{
        justify-content: center;
        height: 49px;
    }

    .navbar-link{
        width: 100%;
        padding: 17px 15px;
        font-family: $fuente_principal;
        font-weight: $delgada;
        color: $font-text;
        font-size: 1.3rem;
    }
}

@media (max-width: 423px) { 
    .navbar-list{
        align-items: center;
    }

    .navbar-item{
        width: 100%;
        height: 99%;
    }

    .menu{
        width: 100%;
    }

}