.text{
    font-weight: $delgada;
    color: $font-text;
    font-size: 1.8rem;
}

/* .group-card{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
} */

.group-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 90%;
    margin: 0;
}

.card-skill{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 90%;
    padding: 20px 20px;
    box-shadow: $box-shadow;
    border-radius: 20px;
}

.img-card{
    display: flex;
    align-items: center;
    width: 45%;
}

.title-card{
    color: $font-text;
    font-size: 2rem;
}

.text-card{
    color: $font-text;
    font-size: 1.4rem;
}

.logo-empresa{
    width: 20rem !important
}

@media (max-width: 1280px){
    .text{
        text-align: left;
    }
    .informacion{
        padding: 20px;
        align-items: center;
    }
    
    .text{
        text-align: center;
    }

    .card-skill{
        width: 95%;
    }

    .img-card{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 950px){
    .subtitle{
        font-size: 3rem;
    }
}

@media (max-width: 769px){
    .group-card{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 481px){
    .sobre-mi{
        width: 100%;
    }

    .card-skill{
        grid-template-columns: 1fr;
        justify-items: start;
        width: 100%;
    }
}

